<a href="https://colab.research.google.com/github/taaha3244/AtomCampAIBootcamp/blob/main/Assignment_Atomcamp_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1: Variables and Data Types
a) Create three variables: one for storing your age (integer), one for your name (string), and one to
check if you are a student (Boolean). Print the variables.

In [ ]:
age=25
my_name="Taaha Mushtaq"
is_student=True

b) Perform the following operations and print the results:
- Add 25 to your age variable.
- Concatenate your name with the string &quot;Smith.&quot;
- Negate the Boolean variable (if True, make it False, and vice versa).

In [ ]:
added_age=age+25
change_name=my_name+"Smith"
negation=not(is_student)

Task 2: Expressions and Operators
a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables.
Create a new variable called area and write an expression to calculate the area. Print the area in the
output.

In [ ]:
width=5.5
height=3.25
area=width*height
print(area)

17.875

b) Create a temperature variable in Celsius. Convert it to Fahrenheit using the formula: F = (C * 9/5)
+ 32. Store this temperature in a variable called Fahrenheit and print this variable.

In [ ]:
deg_C=15
deg_F=(deg_C*9/5)+32
Fahrenheit=deg_F
print(Fahrenheit)

59.0

a) Create a variable called radius and give it a value of 5. Calculate the area of a circle with this radius
and store it in a variable called area. Print area at the end of your code. (Use the formula: area = π *
radius^2, where π (pi) is approximately 3.14159).

In [ ]:
radius=5
area=3.14*(radius**2)
print(area)

78.5

Task 3: Introduction to Data Structures
a) Create a list called "fruits"; containing the following fruits: apple,banana,orange,grape,and kiwi.Print the list.

In [ ]:
fruits=["apple","banana","orange","grape","kiwi"]
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

b) Create a tuple named months with the names of the first three months of the year. Print the
tuple.

In [ ]:
months=("january","february","march")
print(months)

('january', 'february', 'march')

Task 4: List Manipulation
a) Given the list of numbers below, write a Python program to calculate the sum and average of
these numbers. Print both results.
numbers = [12, 34, 45, 67, 89, 100, 23, 56]

In [ ]:
numbers = [12, 34, 45, 67, 89, 100, 23, 56]
list_add=0
for number in numbers:
    list_add=list_add+number
print(list_add)

print(len(numbers))

426
8

In [ ]:
list_avg=0
for number in numbers:
    list_avg+=number
average=list_avg/len(numbers)
print(average)

53.25

b) Remove the first and last elements from the &quot;fruits&quot; list created earlier. Print the updated list.

In [ ]:
numbers.pop()
print(numbers)

[12, 34, 45, 67, 89, 100, 23]

In [ ]:
numbers.remove(12)

In [ ]:
print(numbers)

[34, 45, 67, 89, 100, 23]

a) Create a dictionary named &quot;capitals with three key-value pairs: USA Washington D.C.,France,Paris,Japan;Tokyo. Print the dictionary.

In [ ]:
Capitals={"USA":"Washington",
          "France":"Paris",
          "Japan":"Tokyo"}

In [ ]:
Capitals.get("USA")

'Washington'

b) Add a new country and its capital to the &quot;capitals&quot; dictionary. The country is &quot;Germany,&quot; and the
capital is &quot;Berlin.&quot; Print the updated dictionary.

In [ ]:
Capitals["Germany"]="Berlin"

In [ ]:
Capitals

{'USA': 'Washington', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

c) Check if France exists in the capitals dictionary. If it does, print "France is in the dictionary",otherwise, print "France is not in the dictionary". (at the end of the lab notebook for session 1, I haveadded an example of how to use “in” in python).

In [ ]:

    if "France" in Capitals:
        print("France is in the dict")
    else:
        print("France is not in the dictionary")

France is in the dict

a) Create a variable called number that takes user input (we studied the input() function). Next,
write a block of code that checks if the number is even or odd (hint: modulo operator. Refer to lab
notebook 1).

In [ ]:
number=int(input("What is the number"))
if number_a%2==0:
    print('even')
else:
    print('odd')

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

b) Create two variables called age and GPA. Give them values of your choice. Next, write a block of
code to check if a student with this age and GPA is eligible for admission. The following are the
conditions:
- The student must be at least 18 years old.
- The student&#39;s GPA must be 3.0 or higher on a scale of 4.0.
Your output should print “Eligible for admission” or “Not eligible for admission”.

In [ ]:
age=32
GPA=4.3
if age>18 and GPA>3.0 and GPA<4.0:
    print("eligible for admission")
else:
    print("not eligible for admission")

not eligible for admission

Task 7: Advanced Data Types
a) Create a set named fruits containing the following fruits:apple,banana,orange,grape,kiwi.Print the set.

In [ ]:
fruits={"apple","banana","orange","grape","kiwi"}
print(fruits)

{'kiwi', 'banana', 'apple', 'orange', 'grape'}

b) Given two sets:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

Write Python code to perform the following operations and print the results:
- Union of set1 and set2.
- Intersection of set1 and set2.
- Difference between set1 and set2.
- Check if set1 is a subset of set2.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set1.union(set2)
set1.intersection(set2)
set1.difference(set2)
set1.issubset(set2)

False

Task 8: Strings Manipulation
a) Create a string variable containing the following sentence:
&quot;Python programming is fun and powerful!&quot;
Write Python code to do the following and print the results:
- Find the length of the string.
- Convert the string to uppercase.
- Replace &quot;fun&quot; with &quot;exciting.&quot;
- Check if the string contains the word &quot;Python.&quot;
- Split the string into a list of words.

In [ ]:
funn="Python programming is fun and powerful!"

In [ ]:
len(funn)

39

In [ ]:
funn_upp=funn.upper()
funn_upp

'PYTHON PROGRAMMING IS FUN AND POWERFUL!'

In [ ]:
funn_upp.replace("FUN","EXCITING")

'PYTHON PROGRAMMING IS EXCITING AND POWERFUL!'

In [ ]:
funn_upp.index("PYTHON")

0

In [ ]:
funn_upp.split()

['PYTHON', 'PROGRAMMING', 'IS', 'FUN', 'AND', 'POWERFUL!']

Task 9: Functions
a) Write a function called num_vowels that takes in a string as an argument, and returns the
number of vowels in that string. Print out the result for the string “Learning Python is fun
and engaging.”

In [ ]:

def vowel_cnt(str):
    vowels="aeiouAEIOU"
    cnt=0
    for i in str:
        if i in vowels:
            cnt+=1
    print(cnt)
vowel_cnt("oppo")

2

In [ ]:
def vow_cnt(str):
    vowels='aeiou'
    count=len([i for i in str if i in vowels])
    print(count)
vow_cnt("ooopsi")

4

Create a function called hours_to_min that converts hours into minutes. The function
should take the number of hours as input and return the equivalent number of minutes.
Test the function with 2.5 hours and print the result.

In [ ]:
def hours_to_min(hours):
    out=hours*60
    return out

In [ ]:
hours_to_min(2.5)

150.0

Write a python function that takes in a number as an argument, and prints out the table of
that number up to 12 times that number. You may name this whatever you wish.
Sample output:
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96

In [ ]:
def tables_generator(table):
        for i in range(1,13):
            print(table,"*",i,"=",table*i)

In [ ]:
tables_generator(3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36