<a href="https://colab.research.google.com/github/taaha3244/AtomCampAIBootcamp/blob/main/IMDB_movies_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

1.	Load the csv file in python pandas DataFrame.

In [ ]:
movies=pd.read_csv("C:/Users/taaha/Downloads/IMDB-Movie-Data.csv")

2.	 Write a program to get the columns of the DataFrame (movies_metadata.csv file)

In [ ]:
#.columns returns a list of columns in the data frame
movies.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')


3.	Write a Pandas program to get the information of the DataFrame including data types and memory usage.

In [ ]:
# info() returns a statistical data out of the data frame which shows
# non null values and memory allocation of the data
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

4.	Write a Pandas program to get the details of the third movie in DataFrame.

In [ ]:
#iloc slices based on indexes, index system is pythonic
movies.iloc[2]

Rank                                                                  3
Genre                                                   Horror,Thriller
Description           Three girls are kidnapped by a man with a diag...
Director                                             M. Night Shyamalan
Actors                James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Year                                                               2016
Runtime (Minutes)                                                   117
Rating                                                              7.3
Votes                                                            157606
Revenue (Millions)                                               138.12
Metascore                                                          62.0
Name: Split, dtype: object

5.	Write a Pandas program to count the number of rows and columns of the DataFrame.

In [ ]:
# shape returns shape of the data frame i.e rows and colums of 2d data
movies.shape

(1000, 12)

6.	Write a Pandas program to get the details of the columns  genres and ratings of the DataFrame.

In [ ]:
#
movies[['Genre','Rating']]

                                            Genre  Rating
Title
Guardians of the Galaxy   Action,Adventure,Sci-Fi     8.1
Prometheus               Adventure,Mystery,Sci-Fi     7.0
Split                             Horror,Thriller     7.3
Sing                      Animation,Comedy,Family     7.2
Suicide Squad            Action,Adventure,Fantasy     6.2
...                                           ...     ...
Secret in Their Eyes          Crime,Drama,Mystery     6.2
Hostel: Part II                            Horror     5.5
Step Up 2: The Streets        Drama,Music,Romance     6.2
Search Party                     Adventure,Comedy     5.6
Nine Lives                  Comedy,Family,Fantasy     5.3

[1000 rows x 2 columns]

7.	Write a Pandas program to get the details of the movie with title 'Grumpier Old Men'.

In [ ]:
movies.set_index('title')

In [ ]:
movies.loc['Sing']

Title
Guardians of the Galaxy       1
Prometheus                    2
Split                         3
Sing                          4
Suicide Squad                 5
                           ...
Secret in Their Eyes        996
Hostel: Part II             997
Step Up 2: The Streets      998
Search Party                999
Nine Lives                 1000
Name: Rank, Length: 1000, dtype: int64

8.	Write a Pandas program to get the details of fifth movie of the DataFrame.

In [ ]:
movies.iloc[4]

Rank                                                                  5
Genre                                          Action,Adventure,Fantasy
Description           A secret government agency recruits some of th...
Director                                                     David Ayer
Actors                Will Smith, Jared Leto, Margot Robbie, Viola D...
Year                                                               2016
Runtime (Minutes)                                                   123
Rating                                                              6.2
Votes                                                            393727
Revenue (Millions)                                               325.02
Metascore                                                          40.0
Name: Suicide Squad, dtype: object

8.	Write a Pandas program to get the details of fifth movie of the DataFrame.

In [ ]:
movies.head(10)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
The Great Wall,6,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
Mindhorn,8,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
The Lost City of Z,9,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
Passengers,10,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

10.	Write a Pandas program to sort the DataFrame based on release_date.

In [ ]:
movies.sort_values(by=['Year'],ascending=True).head(5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Lady in the Water,774,"Drama,Fantasy,Mystery",Apartment building superintendent Cleveland He...,M. Night Shyamalan,"Paul Giamatti, Bryce Dallas Howard, Jeffrey Wr...",2006,110,5.6,82701,42.27,36.0
Silent Hill,446,"Adventure,Horror,Mystery","A woman, Rose, goes in search for her adopted ...",Christophe Gans,"Radha Mitchell, Laurie Holden, Sean Bean,Debor...",2006,125,6.6,184152,46.98,NaN
The Departed,100,"Crime,Drama,Thriller",An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",2006,151,8.5,937414,132.37,85.0
The Break-Up,551,"Comedy,Drama,Romance",In a bid to keep their luxurious condo from th...,Peyton Reed,"Jennifer Aniston, Vince Vaughn, Jon Favreau, J...",2006,106,5.8,106381,118.68,45.0
Babel,886,Drama,Tragedy strikes a married couple on vacation i...,Alejandro González Iñárritu,"Brad Pitt, Cate Blanchett, Gael García Bernal,...",2006,143,7.5,253417,34.30,69.0

12.	Write a Pandas program to sort movies on runtime in descending order.

In [ ]:
movies.sort_values('Runtime (Minutes)',ascending=False).head(5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Grindhouse,829,"Action,Horror,Thriller",Quentin Tarantino and Robert Rodriguez's homag...,Robert Rodriguez,"Kurt Russell, Rose McGowan, Danny Trejo, Zoë Bell",2007,191,7.6,160350,25.03,NaN
The Hateful Eight,89,"Crime,Drama,Mystery","In the dead of a Wyoming winter, a bounty hunt...",Quentin Tarantino,"Samuel L. Jackson, Kurt Russell, Jennifer Jaso...",2015,187,7.8,341170,54.12,68.0
Inland Empire,966,"Drama,Mystery,Thriller",As an actress starts to adopt the persona of h...,David Lynch,"Laura Dern, Jeremy Irons, Justin Theroux, Karo...",2006,180,7.0,44227,NaN,NaN
La vie d'Adèle,312,"Drama,Romance","Adèle's life is changed when she meets Emma, a...",Abdellatif Kechiche,"Léa Seydoux, Adèle Exarchopoulos, Salim Kechio...",2013,180,7.8,103150,2.20,88.0
The Wolf of Wall Street,83,"Biography,Comedy,Crime","Based on the true story of Jordan Belfort, fro...",Martin Scorsese,"Leonardo DiCaprio, Jonah Hill, Margot Robbie,M...",2013,180,8.2,865134,116.87,75.0

14.	Write a Pandas program to get the longest runtime and shortest runtime.

In [ ]:
movies['Runtime (Minutes)'].max()

191

In [ ]:
movies['Runtime (Minutes)'].min()

66

15.	Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.

In [ ]:
shortlisted=movies.loc[(movies['Runtime (Minutes)'])>=30 & (movies['Runtime (Minutes)']<=360)]

In [ ]:
shortlisted.shape

(1000, 11)